@charset "UTF-8";

@media screen and (min-width: 1500px) { 
    .social {
        margin-bottom: 5%;
    }

    .fotos {
        margin-bottom: -22%;
    }

}

@media screen and (max-width: 1100px) { 
    .social {
        margin-bottom: 5%;
    }

    .fotos {
       display: none;
    }

    .circulo {
        display: none;
    }

    .fotos img {
        display: none;
    }

}